body {
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #38AECC;
    font-size: 70px;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: #022F40;
}

.team-heading {
    background-color: #022F40;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #FFBF00;
}

li {
    font-family: 'Raleway', sans-serif;
}

.card-header {
    background-color: #38AECC;
}

.id, .unique {
    background-color: #EFF9FB;
}

.email {
    background-color: white;
}

a {
    color: #FFBF00;
}

a:hover {
    color: #B88A00;
}